
body{
		background-image: url("backm.jpg");
		width: 75%;
}
.home{
	vertical-align: middle;
}
.appform{
	text-align: center;
	font-size: 2em;
	border-radius: 20px;
}
.apf{
	background-image: url("co.jpg");
	border-width: 10px;
	position: absolute;
	margin: 80px;
	border-radius: 20px;

}

h1{
	margin-left: 80px;
	
}


h2{
	margin-left: 80px;
}

p{
	columns: 2;
	text-align: justify;
}



input[type="text"]{
	font-family: Arial;
	background-color:lightgrey;
	color: Black;
	font-weight: bold;
	align-content: center;

}
input[type="submit"]{
		
		font-family: "times new roman";
		width: 100px;
		height: 40px;
		font-size: 20px;
		background-image: url("capital.jpg");
		border: 2px solid black;
		background-color:lightgrey;
		border-radius: 30px;
		color: white;
		align-content: center;
}

